body {
    font-family: 'Muli', sans-serif;
    background-color:#D1D3D2;
}
#first{
    border:none;
    width:985px;
    height:480px;
    margin:1px;
    padding:1px;
    display:flex;
}
#second{
    border:none;
    width:360px;
    height:480px;
    margin:1px;
    padding:1px;
    display:flex;
}
.navbar{
    background-color:#52AEA0;
    text-align:center;
}

a{
    color:black;
}
p{
    text-align:center;
}
button{
    color:#52AEA0;
    background-color:white;
    border:9px solid #52AEA0;
    text-align:center;
}
#third{
    border:none;
    background-color:white;
    margin:1px;
    padding:1px;
}
img{
    position:relative;
}
h2,h4{
    position:absolute;
}